body { padding-bottom: 70px important; }

.list-group-item
{
	color:#fff important;
 	background-color:#212529 important; 
}
footer
{
	margin-top:150px important;
	color:#fff important;
 	background-color:#212529 important; 
}
#mainContent
{
	display: flex;
    margin-top: 1em;
    justify-content: center;
    flex-wrap:wrap;
}
.mainContentCol
{
		display: flex;
}
.hTitleCenter
{
	display: flex;
	justify-content:center;
}
.customBtn
{
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
	isplay: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.card
{
	width:fit-content;
	height:fit-content;
	margin-left:1px;
	margin-top:5px;
	max-width: 300px;
}
.card-body
{
    background-color: #212529;
    color: #fff;
}
.article-form
{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panierFlexDisplay
{
	display:flex !important;
	justify-content:center !important;
	flex-direction:column !important;
	align-items: center ! important;
	padding-top: 3%;
}
.ulFlexRownSpaceEvenly
{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.marginColRight
{
	margin-right: 16%
}
.noList
{
 list-style: none !important;
}
.colPanierDynamique
{
	max-width: 300px !important;
}
.panierDynamique
{
	display: flex;
    justify-items: center;
    flex-direction: column;
    padding-right: 30px;
}
.marginLeft2Em{
	    margin-left: 2em;
}